"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    ignoredNames: [
      ".DS_Store"
      ".git"
      ".hg"
      ".sass-cache"
      ".svn"
      "bower_components"
      "CVS"
      "node_modules"
      "temp"
      "Thumbs.db"
    ]
    telemetryConsent: "no"
    themes: [
      "encounters-light-ui"
      "encounters-light-syntax"
    ]
    useCustomTitleBar: true
  editor:
    backUpBeforeSaving: true
    fontFamily: "SF Mono"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapped: true
  "release-notes":
    viewedVersion: "0.95.0"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
