"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    ignoredNames: [
      ".DS_Store"
      ".git"
      ".hg"
      ".sass-cache"
      ".svn"
      "bower_components"
      "components"
      "CVS"
      "node_modules"
      "temp"
      "Thumbs.db"
    ]
    themes: [
      "encounters-dark-ui"
      "encounters-dark-syntax"
    ]
  editor:
    fontFamily: "Input Mono"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.4
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapped: true
  "release-notes":
    viewedVersion: "0.95.0"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
