# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'.source.css, .source.scss':
  '!important':
    'prefix': '!'
    'body': '!important$0'
  'color':
    'prefix': 'c'
    'body': 'color: $1;$0'
  'display: block':
    'prefix': 'db'
    'body': 'display: block;$0'
  'display: inline':
    'prefix': 'di'
    'body': 'display: inline;$0'
  'display: none':
    'prefix': 'dn'
    'body': 'display: none;$0'
  'height':
    'prefix': 'h'
    'body': 'height: $1;$0'
  'line-height':
    'prefix': 'lh'
    'body': 'line-height: $1;$0'
  'text-transform: uppercase':
    'prefix': 'tt'
    'body': 'text-transform: ${1:uppercase};$0'
  'width':
    'prefix': 'w'
    'body': 'width: $1;$0'
  'z-index: index':
    'prefix': 'z'
    'body': 'z-index: $1;$0'
