/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

// Change the matched bracket underline colour
// .bracket-matcher {
//   border-bottom: 1px solid #ffd440;
// }

// Make the cursor more prominent
.editor .cursor {
  border-left: 2px solid;
}

// Make the line numbers the proper colour
.editor .gutter .line-number {
  opacity: 1;
}

// Hide the 'Send Feedback' link
.feedback-status {
  display: none;
}
